<!DOCTYPE html>
<html>
    <head>
        <title>My Map</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
             #map {
                 height: 50%;
             }
             /* Make the page fill the window. */
             html, body {
                 height: 100%;
                 margin: 0;
                 padding: 0;
             }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <h3>ParkEasyLA</h3>
        <div id="map"></div>
        <script>
            let map;            
            function initMap() {                
                // The map, centered at LA
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 34.05223, lng: -118.24368},
                    zoom: 12
                });
                // Demo marker
                // let marker = new google.maps.Marker({
                //     position: {lat: 34.05223, lng: -118.24368}, 
                //     map: map
                // });
                
                // Query Socrata for vacant parking meter spots and plot results
                // url = "https://data.lacity.org/resource/e7h6-4a3e.json?"
                //     + "occupancystate=VACANT"
                //     + "&$$app_token=ixOdggdMHJEhj3AjuHZ9JlPT4";
                // $.getJSON(url, function(data, textstatus) {
                //     $.each(data, function(i, entry) {
                //         // Create a marker for each entry on our map
                //         let marker = new google.maps.Marker({
                //             position: new google.maps.LatLng(entry.location_1.coordinates[1],
                //                                             entry.location_1.coordinates[0]),
                //             map: map,
                //             title: location.name
                //         });
                //     });
                // });
                
                // AJAX request for vacant openings in Socrata data set
                $.ajax({
                    url: "https://data.lacity.org/resource/e7h6-4a3e.json?occupancystate=VACANT",
                    type: "GET",
                    data: {
                        "$limit": 50,
                        "$$app_token": "ixOdggdMHJEhj3AjuHZ9JlPT4"
                    }
                }).done(function(data) {
                    // alert("Retrieved " + data.length + " records from the dataset!");
                    console.log(data);
                });

                // fetch all parking meters from python backend
                fetch('allmeters')
                    .then(function (response) {
                        return response.json();
                    }).then(function (json) {
                        // console.log('GET response as JSON:');
                        // console.log(json); // Print the greeting as text
                        // generate a marker for each parking meter
                        for (let meter in json) {                            
                            let marker = new google.maps.Marker({
                                position: {lat: json[meter].lat, lng: json[meter].lng}, 
                                map: map
                            });
                        }
                    });
            }   
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_GMyt2eggZXSU9f_gCKZDvKyHFDScMYE&callback=initMap"
        async defer></script>        
        <!-- <script src="jquery-3.4.1.min.js"></script> -->
    </body>
</html>